body{
    margin: 0;
    background-color: #C9C8C4;
}

.cabecalho{
    margin: 0;
    background-color: #52555E;
    height: 100px;
    color: #FFF;
}

.logoTipo{
    margin: 0;
    padding-top: 25px;
    font-family: Lucida Handwriting;
    text-align: center;
}

.menu{
    margin: 0;
}
.cadastros{
    margin: 0 5%;
}